<div class="row">
  <div class="col-md-4">
    <%= api_root_url_link %>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('pid') %></th>
          <th><%= t('details') %></th>
        </tr>
      </thead>
      <tbody>
      <% @resource.fetched_embededd.each do |name, embeddeds| %>
        <% embeddeds.each do |embedded| %>
        <tr>
          <td><%= embedded.pid %></td>
          <td><%= link_to t('more_info'), resources_process_path(url: embedded.self_link.url ) %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render "shared/properties" %>
  </div>
</div>

